html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
margin-top: 160px;
  
}
header{
  position: absolute;
  top: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  align-content: center;
  color: white;
  background-color: #007bff;


  
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
table, th, td {
     border-collapse: collapse;
     border: 1px solid #0651f3;
     text-align: center;
}
 table {
     border-collapse: collapse;
     width:100%;
     padding: 2em;
}
 td, th {
     border: 1px solid #ced4da;
     padding: 0.5rem;
     text-align: left;
}
th{
    color:white;
    background-color: #007bff;
}
 th {
     font-weight: bold;
}

.lead{
    color:#007bff;
    text-align: center;
    font-weight: bold;
}

#update-form, #create-form{
    padding-top: 1em;
    padding-right: 3em;
    padding-bottom: 1em;
    padding-left: 3em;
}
#update-form {
    display : none;
     
}
#results{
    padding-top:1em;
    padding-right: 3em;
}