<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/computerShop.css" rel="stylesheet">
  
  <title>Computer Shop</title>
   <%- include ('header.ejs') %>
  <!-- Bootstrap core CSS -->

</head>
<body>
    
 
    <%- include ('footer.ejs') %>
    <%- body %>

</body>
</html>